<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type" 
		content="text/html; charset=UTF-8" />
	<LINK REL="stylesheet" TYPE="text/css" HREF="/view/css/blog.css"></LINK>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div id="site">

<div id="a">
<header class="sticky-top">
<div class="row">
<div class="col-md-6"></div>
<div class="col-md-3"><a th:href="@{/login}" class="float-right" ><font color="#4e454a">ログイン</font></a></div>
<div class="col-md-3"><a th:href="@{/create}" class="float-right" ><font color="#4e454a">編集</font></a></div>
<div class="col-md-"></div>
</div>
</header>
<div id="b" class="box">
<br>
<br>
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-6" id=img2><img align="left" src="view/img/hatena.png" width="70px">
<h2>Nazona Blog</h2></div>
<!--  <div class="col-md-9"><a href="http://localhost:8080/home"><img id="img1" src="view/img/blog4.jpg" width="45%"></a></div>-->
</div>
<br>
<br>
</div>
<div id="c" >
<!--  <table class="table table-bordered ">
<tr bgcolor="#add8e6" class="table-hover">
<td width=15%></td>
<td width="15%"><a href="http://localhost:8080/home"><font color="#4e454a">TOP</font></a></td>
<td width="15%"><a href="http://localhost:8080/create"><font color="#4e454a">編集</font></a></td>
<td width="15%"><a><font color="#4e454a">記事一覧</font></a></td>
<td></td></tr>
</table>-->
<br>
<div id="btn3">
<div id="btn2"> <a href="http://localhost:8080/home" class="btn-square" id="btn1">TOP</a></div>
<div id="btn2"> <a href="http://localhost:8080/create" class="btn-square" id="btn1">編集</a></div>
<div id="btn2"> <a href="http://localhost:8080/home" class="btn-square" id="btn1">記事一覧</a></div>
<div id="btn2"> <a href="http://localhost:8080/home" class="btn-square" id="btn1">aaa</a></div>
<div id="btn2"> <a href="http://localhost:8080/home" class="btn-square" id="btn1">bbb</a></div>

</div>
</div>
<br>
<br>
<br>
<div id="site2" >
<div class="row">
<div id="e" class="col-md-9">
<div id="h" th:each="obj:${datalist}">
<table>
<tr><td><a th:href="@{'/view/'+${obj.id}}"><h1 align="left" style="font-size:30px" th:text="${obj.title}"></h1></a></td></tr>
<tr><td><sup th:text="${obj.date}"></sup></td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td><p th:text="${obj.memo}"><font color="#4e454a">text</font></p></td></tr>
<!--<tr><td><h2 style="font-size:10px" align="right" th:text="${obj.date}" ></h2></td></tr>-->
</table>
</div>
</div>
<div id="f" class="col-md-3">
<div id=f_4><h1>検索フォーム</h1>
<form id="form1"  action="cgi-bin/example.cgi" method="post">
  <input id="input1" type="search" name="search" placeholder="キーワードを入力">
  <input id="input2" type="submit" name="submit" value="検索">
</form>
</div>
<div id="f_5">
<div id="f_1"><h1><font color="#4e454a" >新着記事</font></h1></div>
<table id="f_2" class="table table-hover"  th:each="obj:${datalist}">
<tr><td><font color="#4e454a"><a th:href="@{'/view/'+${obj.id}}"><p th:text="${obj.title}" color="#4e454a">????</p></a></font></td><tr>
</table><hr></div>
<div id="f_3" class="widget thk_qr_code"><h1 class="side-title">QR コード</h1><img src="//chart.apis.google.com/chart?chs=250x250&amp;cht=qr&amp;chld=L|2&amp;chl=https%3A%2F%2Flogipara.com%2F" class="lazy" data-src="//chart.apis.google.com/chart?chs=250x250&amp;cht=qr&amp;chld=L|2&amp;chl=https%3A%2F%2Flogipara.com%2F" width="250" height="250" alt="QR Code | ろじっくぱらだいす(Logic Paradise)" data-loaded="true"><noscript><img src="//chart.apis.google.com/chart?chs=250x250&amp;cht=qr&amp;chld=L|2&amp;chl=https%3A%2F%2Flogipara.com%2F" width="250" height="250" alt="QR Code | ろじっくぱらだいす(Logic Paradise)" /></noscript></div>
</div>
</div>
</div>
	
<div id="g">
<hr>

<div class="row">
<div class="col-md-9"></div>
<div class="col-md-3">
<table class="float-right" border="0" cellspacing="0" cellpadding="0"><tr><td valign="bottom"><a href="http://www.rays-counter.com/"><img src="http://www.rays-counter.com/d438_f6_022/5cf6184c7dccf/" alt="アクセスカウンター" border="0"></a></td></tr><tr><td align="center" style="font-size:xx-small"><img src="http://www.rays-counter.com/images/counter_01.gif" border="0"><img src="http://www.rays-counter.com/images/counter_02.gif" border="0"><img src="http://www.rays-counter.com/images/counter_03.gif" border="0"><img src="http://www.rays-counter.com/images/counter_04.gif" border="0"><img src="http://www.rays-counter.com/images/counter_05.gif" border="0"></td></tr></table></div>
<div class="col-md-"></div>
</div>
</div>
</div>
</div>

</body>
</html>