<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
    <!-- ポイント：th:fragment -->
    <div th:fragment="manage_contents">
        <div class="page-header">
            <h2>記事作成</h2>
            	</div>
         <div class="col-sm-6">   
         <div class="row">
    <table class="table table-bordered table-hover">
	<form method="post" action="/manage"　th:object="${formModel}">
	<tr><td class="info col-sm-2"><label for="title" >タイトル</label></td>
	<td class="col-sm-2"><textarea  name="title" cols="60" th:value="*{title}"></textarea></td></tr>
	<tr><td class="info col-sm-2"><label for="memo">入力</label></td>
	<td class="col-sm-2"><textarea name="memo" rows="15" cols="60" th:text="*{memo}"></textarea></td></tr>
	<tr><td class="info col-sm-2"></td><td ><input type="submit" class="btn btn-primary btn-lg pull-right"></input></td></tr>
	</form>
	</table>
	</div>
	</div>  
	

    </div>
</body>
</html>