<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
	<div th:fragment="userDetail_contents">
		<div class="page-header">
			<h2>管理者詳細</h2>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<form method="post" action="/userdetail" th:object="${formModel}">
					<input type="hidden" name="username" th:value="*{username}" />
					<table class="table table-bordered table-hover">
						<tr>
							<th class="info col-sm-1">ユーザーID</th>
							<td class="col-sm-3">
								<div class="form-group">
									<input type="text" class="form-control" th:field="*{username}" />
								</div>
							</td>
						</tr>
						<tr>
							<th class="info col-sm-1">パスワード</th>
							<td class="col-sm-3">
								<div class="form-group">
									<textarea rows="15" cols="60" class="form-control"
										th:field="*{password}">
                                    </textarea>
								</div>
							</td>
						</tr>
					
						<tr>
							<td class="info col-sm-1"></td>
							<td>
								<button class="btn btn-primary btn-lg pull-right" type="submit"
									name="updata">更新</button>
								<button class="btn btn-danger btn-lg pull-left" type="submit"
									name="delete">削除</button>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</body>
</html>