<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
	<div th:fragment="userList_contents">
		<div class="page-header">
			<h2>管理者一覧</h2>
		</div>
		<div class="row">
			<div class="col-md-9">
				<table class="table table-bordered table-hover table-striped"
					id="blogdetail">
					<tr>
						<th class="info col-sm-3">パスワード</th>
						<th class="info col-sm-3">ユーザーネーム</th>
						<th class="info col-sm-1"></th>
					</tr>
					<tr th:each="obj:${datalist}">
						<td th:text="${obj.password}"></td>
						<td th:text="${obj.username}"></td>
						<td><a class="btn btn-primary"
							th:href="@{'/userdetail/'+${obj.id}}">詳細</a>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>