@charset "UTF-8";

p{ font-size:12pt; color:black; margin:0px;}
p1{ font-size:10pt; color:black;}
p2{font-size:15pt; color:#007bff;}
p3{font-size:12pt; color:red;}
p4{font-size:40px;color:black}
h1 { font-size:20pt; font-weight:bold; color:black;}
tr { margin:5px;}
th { padding:5px; color:white; background:darkgray; }
td { padding:5px; color:black; }
hr{margin:0px;width:auto;_width:100%}
header{background-color:#ffffff;}
pre {
  padding: 0em;
  width: auto;
  _width: 90%;
  height: auto;
  overflow: auto;
  _overflow: scroll;
  color: #000;
  font-family: 'MS Gothic', monospace;
  margin:0px
}
#site{max-width:100; background-color:#e0ffff;}
#site2{max-width:60%;
  margin: 0 auto; height:100%;}
#b{width:90% margin:0}
#g{background-color:#ffffff;}