@charset "UTF-8";
body{background-color:#e9edefa1 !important;}
p{ font-size:12pt; color:black; margin:0px;}
p1{ font-size:10pt; color:black;}
p2{font-size:15pt; color:#007bff;}
p3{font-size:12pt; color:red;}
p4{font-size:40px;color:black}
h1 { font-size:20pt; font-weight:bold; color:black;}
td {border:100px;}
hr{margin:0; margin-top: 0;
    margin-bottom: 0;}
header{background-color:#add8e6;}
pre {
  padding: 0em;
  width: auto;
  _width: 90%;
  height: auto;
  overflow: auto;
  _overflow: scroll;
  color: #000;
  font-family: 'MS Gothic', monospace;
  margin:0px
}
#site{max-width:100; background-color;}
#site2{max-width:75%;
  margin: 0 auto; height:100%; }
#b{width:90% margin:0}
#e{border-style:ridge; background-color:#ffffff;
   border-color:#e9ecef70; border-width:10px; padding:30px}
#g{background-color:#ffffff;}
#f{font-size:20px;}
#f_1{background-color:#add8e6;}
#f_2{color: #FF0000 !important;}
#frame{border: 10px outset #31A9EE;}
